.jumbotron {
    text-align: center;
}

#navicon {
    align-items: center;
  
}

#boops {
    display: flex;
    align-items: center;
    margin: auto;
    
}

#navbar-color {

    background-color: white;
}

#video {
    margin:0px;
    padding:0px;
}

#feast {
align-items: baseline;
    max-width: 50px;
    height: auto;
    margin-top: 15px;
}

.class-container {
    align-items:center;
}

#bottle-pattern {
    height: 100px;
    display: hidden; 
   
}

.skill {
    font-size: 77px;
    color: #ff4723;
    text-align: center;
}

.parallax {
    /* The image used */
    background-image: url("../Greenbar-bottle-pattern.png");
    background-color: gray;
    background-blend-mode: multiply;    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  * {
      margin 30px;

     
  }